.Vmenu {
  width: 300px;
  margin-left:10px;
}

.Vmenu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.Vmenu a:hover {
  background-color: #ccc;
}

.Vmenu a.active {
  background-color: #a3a3c2;
  color: white;
}
main{

    background-image: url(../images/bg2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}


h1{
	
	font-weight: 70%;
	text-transform: uppercase;
	color: #FF6699;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 55px;
	line-height: 54px;
	margin-left: 15%;
    margin-right:15%;
	letter-spacing: 3px;

}
.about{
	width:100%;
	height:400px;
	background-image:url(../images/wtt.jpg);
	/* Add the blur effect */
  
  
	background-size:cover;
	background-position:center;
	
}
.uline{
	width:400px;
	height: 8px;
	background-color: #ffe6f2;
	display: block;
	position: relative;
	border-radius: 5px;
	
	box-shadow: 0px 15px 12px 0px #000;
}

.margin {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  p {outline-color:red;}


}
.paragraph{

	font-weight: 50;
	
	color:  #d9d9d9;
	font-style: normal;
	font-family: 'Arial';
	
	font-size: 17px;
	line-height: 25px;
	margin-left: 25%;
    margin-right:25%;
	letter-spacing: 0px;
	
}
.n1 {
 height: 10px;
        background-color: #c2c2d6;
        border: none;
}
.Services{
	width:100%;
	height:200px;
	background-image:url(../images/sv.jpg);
  
	background-size:cover;
	background-position:center;
	
}
.uline2{
	width:400px;
	height: 8px;
	background-color: #ffe6f2;
	display: block;
	position: relative;
	border-radius: 5px;
	
	box-shadow: 0px 15px 12px 0px #000;
}
.n1 {
        height: 10px;
        background-color: #c2c2d6;
        border: none;
}
.n2 {
 height: 10px;
        background-color: #c2c2d6;
        border: none;
}
.serv{

	text-transform: uppercase;
	color:  #ac3973;
	font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
	line-height: 20px;
	margin-left: 15%;
    margin-right:15%;
	letter-spacing: 0px;
}
